services:
  db-postgres:
    image: postgres:17-alpine
    restart: always
    container_name: db-postgres-backend-rinha
    networks:
      - backend
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: rinha
      POSTGRES_PASSWORD: rinha
      POSTGRES_DB: rinha_db
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    networks:
      - backend
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
  meu-backend:
    image: antoniocarvalhodev/rinha-dev:2.1
    restart: always
    container_name: rinha-backend-teste
    networks:
      - backend
      - payment-processor
    ports:
      - 9999:9999
    environment:
      - PAYMENT_PROCESSOR_URL_DEFAULT=http://payment-processor-default:8080
      - PAYMENT_PROCESSOR_URL_FALLBACK=http://payment-processor-fallback:8080
      - DATABASE_URL=postgresql://rinha:rinha@db-postgres:5432/rinha_db
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    depends_on:
      - db-postgres
      - rabbitmq
networks:
   backend:
    driver: bridge
   payment-processor:
    external: true


