services:
  redis:
    image: redis:8.0.3-alpine
    container_name: redis
    restart: always
    networks:
      - backend
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    command: redis-server --save 20 1 --loglevel warning
    deploy: 
      resources:
        limits:
          cpus: '0.1'
          memory: '50MB'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
  health-checker:
    build: .
    image: api-local
    command: yarn start:healthcheck
    restart: always
    networks:
      - backend
      - payment-processor
    environment:
      - PAYMENT_PROCESSOR_URL_DEFAULT=http://payment-processor-default:8080
      - PAYMENT_PROCESSOR_URL_FALLBACK=http://payment-processor-fallback:8080
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '0.1' 
          memory: '50MB'
    healthcheck:
      test: ["CMD", "redis-cli", "exists", "processor_choice"]
      interval: 2s
      timeout: 3s
      retries: 15
    
  api01: 
    build: .
    image: api-local
    networks:
      - backend
      - payment-processor
    environment:
      - UV_THREADPOOL_SIZE=128
      - PAYMENT_PROCESSOR_URL_DEFAULT=http://payment-processor-default:8080
      - PAYMENT_PROCESSOR_URL_FALLBACK=http://payment-processor-fallback:8080
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy
    deploy: 
      resources:
        limits:
          cpus: '0.60'
          memory: '105MB'
  api02: 
    build: .
    image: api-local
    networks:
      - backend
      - payment-processor
    environment:
      - UV_THREADPOOL_SIZE=128
      - PAYMENT_PROCESSOR_URL_DEFAULT=http://payment-processor-default:8080
      - PAYMENT_PROCESSOR_URL_FALLBACK=http://payment-processor-fallback:8080
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy
    deploy: 
      resources:
        limits:
          cpus: '0.60'
          memory: '105MB'
  lb:
    image: nginx:1.27-alpine
    ports:
      - "9999:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend
    depends_on:
      - api01
      - api02
    deploy: 
      resources:
        limits:
          cpus: '0.1'
          memory: '40MB'

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true